@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Play&family=Ropa+Sans&display=swap");

body {
  font-family: "Ropa Sans", sans-serif;
  line-height: 2;
  background-color: #d7dcdd;
  width: 50%;
  margin: auto;
}

#title {
  font-family: "Play", sans-serif;
  text-align: center;
}
#description {
  text-align: center;
}
form {
  margin: auto;
  width: auto;
}
.input-headings {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  text-align: center;
  width: auto;
}
label {
  color: black;
  font-size: 130%;
}
.blank-space {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
}
